.header{
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 10px 20px;
}

.header > li > img{
    width: 70px;
}

.navbar{
    display: flex;
    gap: 70px;
}

.navbar > a > div{
    font-size: 24px;
    color: white;
    cursor: pointer;

    transition: color .3s ease-in-out;
}

.navbar > a > div:hover{
    color: #66fcf1;
}